.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 24px;
   height: calc(100vh - 88px);
   width: 100%;
}

.message {
   margin-top: 80px;
}
