.modal {
    background-color: var(--background);
    border-radius: 40px;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0 24px 32px 0 #0000000A;
    position: relative;
    z-index: 101;
    max-width: 80%;
}

.close {
    position: absolute;
    top: 60px;
    right: 40px;
    cursor: pointer;
}
